body, html{
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: 180%;
  color: #666;
  text-align: center;
}
/*Start navbar style*/

  .navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color: #262626;
    color: #fff;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
  }

  .navbar-brand{
    float: left;
    min-height: 55px;
    padding-top: 0;
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .navbar-brand h1{
    font-family: 'Lobster', cursive;
    color: #fff;
    text-transform: capitalize;
    font-size: 3em;
    margin-top: 0;
    padding-top: 0;
    border-style: solid;
    border-color: #fff;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
  }


  /* ===== Style for smartphone and iPad in portrait & landscape== =  */


      .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
        color: #FFF;
        background-color: #262626;
      }

      .navbar-inverse .navbar-nav li a{
        color: #d9d9d9;
        font-size: 1.2em;
      }

/*End navbar style*/

.parallax1{
  background: url('../Images/Nathalie1.jpg');
  min-height: 100%;
}

.parallax2{
  background: url('../Images/Horatiu1.jpg');
  min-height: 100%;
}

.parallax3{
  background-image: url('../Images/Horatiu1.jpg');
  min-height: 40%;
}

.parallax1, .parallax2, .parallax3{
  position: relative;
  opacity: .95;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading{
  position: absolute;
  color: #fff;
  font-size: 550%;
  top: 60%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #000;
}

.heading-sm{
  position: absolute;
  top: 45%;
  width: 100%;
  color: #FFF;
  font-size: 250%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #000;
}

section{
  overflow: auto;
  padding: 50px 80px;
}

.dark{
  overflow: auto;
  padding: 50px 80px;
  background-color: #323232;
  color: #f2f2f2;
  font-size: 1.2em;
}

/*Footer CSS style*/

  #footer{
    position: relative;
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 3px;
    color: #FFF;
    clear: both;
  }

  #footer a span{
    text-decoration: none;
    color: #FFF;
    font-size: 30px;
  }


  .fa{
    padding: 8px;
    font-size: 25px;
    color: #FFF;
  }

  .fa:hover{
    color: #5d5d5d;
    text-decoration: none;
  }
  /*End footer CSS style*/

@media (max-width: 768px) {
  .heading{
    font-size: 250%;
  }
  .heading-sm{
    font-size: 180%;
  }
  .two-col{
    width: 100%;
    padding: 0;
    text-align: center;
  }
}
