body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #614448;
  color: #fff;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}

.navbar-brand{
  float: left;
  min-height: 55px;
  padding: 0 15px 5px;
}


.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
  color: #FFF;
  background-color: #614448;
}

.navbar-inverse .navbar-nav li a{
  color: #d9d9d9;
}

.navbar-brand h1{
  font-family: 'Do Hyeon', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 3em;
  margin-top: 0;
  padding-top: 0;
}

.carousel-caption{
  top: 65%;
  transform: translateY(-50%);
}

.btn{
  font-size: 18px;
  color: #FFF;
  padding: 12px 22px;
  background-color: #614448;
  border: 2px solid #FFF;
}

@media (max-width: 600px){
  .carousel-indicators, .carousel-caption .btn{
    display: none;
  }
}
.center{
text-align: center;
background-color: #1e1516;
padding-top: 40px;
padding-bottom: 20px;
color: #FFF;
font-size: 1.5em;
}

.container {
width: 100%;
background-color: #CCC;
padding-top: 35px;
padding-bottom: 35px;
}

.col-md-6 img{
height: 500px;
width: 350px;
float: left;
}

.container h4{
padding-top: 150px;
text-align: center;
font-size: 1.6em;
padding-left: 0;
color: #631d1d;
}

.container p{
text-align: center;
font-size: 1.6em;
padding-left: 0;
color: #631d1d;
}

.container h1{
text-align: center;
}

#gallery{
background-color: #631d1d;
}

#gallery h1{
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
margin: 0;
background-color: #000;
color: #fff;
margin-bottom: 20px;
}

#gallery img{
padding-top: 20px;
background-color: #fff; //background-color of the footer
}



#footer{
  width: 100%;
  background-color: #1e1516;
  text-align: center;
  padding: 3px;
  color: #FFF;
}

#footer a span{
  text-decoration: none;
  color: #FFF;
  font-size: 30px;
}

.fa{
  padding: 20px;
  font-size: 30px;
  color: #FFF;
}

.fa:hover{
  color: #5d5d5d;
  text-decoration: none;
}

  @media (max-width: 600px) {
    .fa{
      font-size: 20px;
      padding: 10px;
    }
}
